<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Парковки Москвы</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/error.css' %}">
  <link rel="icon" type="image/x-icon" href=".{% static 'icons/favicon.svg' %}">
</head>
<body>
<header class="header">
  <div class="wrapper">
    <div class="header__content">
      <a class="header__logo" href="index.html">
        <img src="../../../moscow-parking/static/icons/logo.svg" alt="">
        <h2 class="header__title">
          Парковки Москвы
        </h2>
      </a>
      <nav class="header__nav">
        <a href="index.html" class="header__nav-link">Главная</a>
        <a href="catalog.html" class="header__nav-link">Каталог</a>
        <a href="profile.html" class="header__nav-link">Личный кабинет</a>
      </nav>
      <button onclick="showHeaderNavigation()" class="header__nav-burger"></button>
    </div>
  </div>
</header>
<!--Оверлей для хедера-->
<div class="overlay"></div>
<!--Контейнер для модалки. Очень "классно" использовать вместо нормальной библиотеки нативный JS-->
<div class="modal"></div>

<main class="main">
  <section class="error">
    <div class="wrapper">
      <div class="error__content">
        <h1 class="error__title">404</h1>
        <div class="error__text">
          <h2 class="error__subtitle">Страница не найдена</h2>
          <div class="error__description">
            <p class="error__paragraph">Страница, которую вы пытаетесь найти не существует или она была удалена</p>
            <p class="error__paragraph">Попробуйте проверить корректность адреса или найдите что-нибудь еще в
              <a href="catalog.html" class="error__link">Каталоге</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <div class="footer__top">
        <h5 class="footer__title">Парковки Москвы</h5>
        <h6 class="footer__subtitle">Сервис для краткосрочной аренды машиномест в Москве</h6>
      </div>
      <div class="footer__links">
        <a href="index.html" class="footer__links-item">Условия использования</a>
        <a href="" class="footer__links-item">Договор оферты</a>
        <a href="" class="footer__links-item">Служба поддержки</a>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
</body>
</html>