<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="author" content="Konstantin Volik"/>

  <title>Парковки Москвы</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/catalog.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/parking-place.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/delete-bankcard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/card.css' %}"/>
  <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.svg' %}">
</head>
<body>
<header class="header">
  <div class="wrapper">
    <div class="header__content">
      <a class="header__logo" href="{% url 'welcome page' %}">
        <img src="{% static 'icons/logo.svg' %}" alt="">
        <h2 class="header__title">
          Парковки Москвы
        </h2>
      </a>

      <nav class="header__nav">
        <a class="header__nav-link" href="{% url 'welcome page' %}" >Главная</a>
        <a class="header__nav-link" href="{% url 'parking_list' %}" >Каталог</a>
        {% if request.user.is_authenticated %}
        <a class="header__nav-link" href="{% url 'profile' %}" >Личный кабинет</a>
        <a class="header__nav-link" href="{% url 'logout' %}" >Выйти</a>
        {% else %}
        <a class="header__nav-link" href="{% url 'new_login' %}" >Войти</a>
        {% endif %}
      </nav>


      <button onclick="showHeaderNavigation()" class="header__nav-burger"></button>
    </div>
  </div>
</header>
<!--Оверлей для хедера-->
<div class="overlay"></div>
<!--Контейнер для модалки. Очень "классно" использовать вместо нормальной библиотеки нативный JS-->
<div class="modal"></div>

<button class="scroll-button">
  <img src="{% static 'icons/scroll-button.svg' %}" alt=""/>
</button>
                {% block content %}
                {{ flatpage.content }}
                {% endblock content %}

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <div class="footer__top">
        <h5 class="footer__title">Парковки Москвы</h5>
        <h6 class="footer__subtitle">Сервис для краткосрочной аренды машиномест в Москве</h6>
      </div>
      <div class="footer__links">
        <a href="" class="footer__links-item">Условия использования</a>
        <a href="" class="footer__links-item">Договор оферты</a>
        <a href="" class="footer__links-item">Служба поддержки</a>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
<script src="{% static 'js/homeButtonScript.js' %}"></script>
<!--<script src="{% static 'js/map.js' %}"></script>-->
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/parking-place.js' %}"></script>

</body>
</html>
