.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 10px;
  width: 230px;
}

.card * {
  font-family: 'Inter', sans-serif;
  margin: 0 !important;
}

.card__image {
  border-radius: 8px;
  width: 210px;
  height: 140px;
}
.card__address {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.card__title {
  word-break: break-word;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.card__subtitle {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 38px;
  border-radius: 8px;
  background-color: #EA3800;
  color: white !important;
}