.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo img {
  height: 40px;
}

.header.scrolled {
  background: #EDEDEDD8;
  transition: .3s;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav-link {
  font-weight: 400;
  font-size: 1.25rem;
}
.header__nav-link:hover {
  font-weight: 500;
}

.header__nav-link.active {
  color: var(--secondary-color);
  font-weight: 500;
}

.header__nav-burger {
  display: none;
  background: url("../icons/burger.svg");
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 4rem 7.5rem;
}

.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-weight: 600;
}

.footer__subtitle {
  font-weight: 400;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links-item {
  text-decoration: underline;
}

.wrapper {
  width: var(--desktop-width);
  margin: 0 auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.25);
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .header__content {
    padding: 1.25rem 2em;
    position: relative;
  }

  .header__logo {
    gap: 8px;
  }
  .header__logo img {
    height: 20px;
  }
  .header__title {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .header__nav {
    background: #EDEDEDD8;
    display: none;
    gap: 1em;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0.25rem;
    right: 0;
    padding: 0.25em 2em 2em 0;
  }

  .header__nav.transition {
    display: flex;
    animation: hide .5s forwards;
  }

  @keyframes hide {
    0% {
      opacity: 1;
      transform: translateY(5em);
    }
    100% {
      opacity: 0;
      transform: translateY(5em);
    }
  }
  .header__nav.active {
    display: flex;
    animation: show .5s forwards;
  }

  @keyframes show {
    0% {
      transform: translateY(4em);
    }
    100% {
      transform: translateY(5em);
    }
  }
  .header__nav-link {
    font-size: 1rem;
  }

  .header__nav-link {
    font-size: 1rem;
  }

  .header__nav-burger {
    display: block;
    transition: .5s;
  }

  .header__nav-burger.active {
    transform: rotate(90deg);
    transition: .5s;
  }

  .footer__content {
    padding: 2.5rem 1.25rem;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  .footer__subtitle {
    font-size: 1rem;
    width: 35%;
  }

  .footer__links {
    font-size: 1rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .header__content {
    padding: 1.25rem;
    gap: 1em;
    position: relative;
  }

  .header__logo {
    gap: 8px;
  }

  .header__logo img {
    height: 20px;
  }

  .header__title {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .header__nav {
    background: #EDEDEDD8;
    display: none;
    gap: 1em;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0.25rem;
    right: 0;
    padding: 0 2em 2em 0;
  }

  .header__nav.transition {
    display: flex;
    animation: hide .5s forwards;
  }

  @keyframes hide {
    0% {
      opacity: 1;
      transform: translateY(5em);
    }
    100% {
      opacity: 0;
      transform: translateY(5em);
    }
  }
  .header__nav.active {
    display: flex;
    animation: show .5s forwards;
  }

  @keyframes show {
    0% {
      transform: translateY(4em);
    }
    100% {
      transform: translateY(5em);
    }
  }
  .header__nav-link {
    font-size: 1rem;
  }

  .header__nav-burger {
    display: block;
    transition: .5s;
    width: 1.5rem;
    height: 1.5rem;
  }

  .header__nav-burger.active {
    transform: rotate(90deg);
    transition: .5s;
  }

  .footer__content {
    padding: 2.5rem 1.25rem;
  }

  .footer__title {
    font-size: 1rem;
    min-width: 12rem;
  }

  .footer__subtitle {
    font-size: 1em;
    line-height: 1.25em;
  }

  .footer__links {
    font-size: 1em;
  }
}