<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Парковки Москвы</title>
  <link rel="stylesheet" type="text/css" href="../../../moscow-parking/static/styles/catalog.css"/>
  <link
      rel="stylesheet"
      type="text/css"
      href="../../../moscow-parking/static/styles/parking-place.css"
  />
  <link rel="icon" type="image/x-icon" href="../../../moscow-parking/static/icons/favicon.svg"/>
</head>
<body>
<header class="header">
  <div class="wrapper">
    <div class="header__content">
      <a class="header__logo" href="index.html">
        <img src="../../../moscow-parking/static/icons/logo.svg" alt=""/>
        <h2 class="header__title">Парковки Москвы</h2>
      </a>

      <nav class="header__nav">
        <a href="index.html" class="header__nav-link">Главная</a>
        <a href="catalog.html" class="header__nav-link">Каталог</a>
        <a href="profile.html" class="header__nav-link">Личный кабинет</a>
      </nav>
      <button
          onclick="showHeaderNavigation()"
          class="header__nav-burger"
      ></button>
    </div>
  </div>
</header>
<div class="overlay"></div>
<div class="modal"></div>

<main class="main">
  <button class="scroll-button">
    <img src="../../../moscow-parking/static/icons/scroll-button.svg" alt=""/>
  </button>
  <section class="parking-place">
    <div class="wrapper">
      <div class="parking-place__content create">
        <button class="parking-place__cover" onclick="selectPhoto()">
          <input class="parking-place__photo" type="file" style="visibility:hidden;">
        </button>
        <form class="parking-place__form">
          <h2 class="parking-place__form-title">Добавление нового места</h2>
          <div class="parking-place__form-field">
            <label class="parking-place__form-label">
              Адрес (улица, ближайший дом)
            </label>
            <input type="text" class="parking-place__form-input" placeholder="Казанская, 55">
          </div>
          <div class="parking-place__form-double">
            <div class="parking-place__form-field">
              <label class="parking-place__form-label">
                Цена за час
              </label>
              <input type="text" class="parking-place__form-input" placeholder="100">
            </div>
            <div class="parking-place__form-field">
              <label class="parking-place__form-label">
                Ближайшее метро
              </label>
              <input type="text" class="parking-place__form-input" placeholder="Театральная">
            </div>
          </div>
          <div class="parking-place__form-field">
            <label class="parking-place__form-label">
              Описание
            </label>
            <textarea
                placeholder="Расскажите о своем месте подробнее..."
                class="parking-place__form-textarea"
            >
            </textarea>
          </div>
          <div class="parking-place__form-field">
            <label class="parking-place__form-label">Статус</label>
            <select name="possibility" class="parking-place__form-select">
              <option value="available">Доступно</option>
              <option value="archived">В архиве</option>
            </select>
          </div>
          <h4 class="parking-place__station">Ваше место видно в каталоге и доступно для брони</h4>
          <div class="parking-place__form-buttons">
            <button class="parking-place__button-back" type="button" onclick="back()">Отмена</button>
            <button class="parking-place__button-rent" type="submit" onclick="rent()">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <div class="footer__top">
        <h5 class="footer__title">Парковки Москвы</h5>
        <h6 class="footer__subtitle">
          Сервис для краткосрочной аренды машиномест в Москве
        </h6>
      </div>
      <div class="footer__links">
        <a href="" class="footer__links-item">Условия использования</a>
        <a href="" class="footer__links-item">Договор оферты</a>
        <a href="" class="footer__links-item">Служба поддержки</a>
      </div>
    </div>
  </div>
</footer>
<script src="../../../moscow-parking/static/plugins/noUiSlider-15.7.0/dist/nouislider.js"></script>
<script src="../../../moscow-parking/static/js/homeButtonScript.js"></script>
<script src="../../../moscow-parking/static/js/index.js"></script>
<script src="../../../moscow-parking/static/js/user.js"></script>
<script src="../../../moscow-parking/static/js/parking-place.js"></script>
</body>
</html>
