<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Парковки Москвы</title>
  <link rel="stylesheet" type="text/css" href="../../../moscow-parking/static/styles/profile.css"/>
  <link rel="icon" type="image/x-icon" href="../../../moscow-parking/static/icons/favicon.svg"/>
</head>
<body>
<header class="header">
  <div class="wrapper">
    <div class="header__content">
      <a class="header__logo" href="index.html">
        <img src="../../../moscow-parking/static/icons/logo.svg" alt=""/>
        <h2 class="header__title">Парковки Москвы</h2>
      </a>

      <nav class="header__nav">
        <a href="index.html" class="header__nav-link">Главная</a>
        <a href="catalog.html" class="header__nav-link">Каталог</a>
        <a href="profile.html" class="header__nav-link">Личный кабинет</a>
      </nav>
      <button
          onclick="showHeaderNavigation()"
          class="header__nav-burger"
      ></button>
    </div>
  </div>
</header>
<div class="overlay"></div>
<div class="modal"></div>

<main class="main">
  <button class="scroll-button">
    <img src="../../../moscow-parking/static/icons/scroll-button.svg" alt=""/>
  </button>
  <div class="wrapper">
    <section class="profile">
      <div class="wrapper">
        <div class="profile__content">
          <h2 class="profile__title">Личный кабинет</h2>
          <form class="profile__form">
            <div class="profile__user">
              <h5 class="profile__subtitle">Общие сведения</h5>
              <div class="profile__form-field">
                <label class="profile__form-label">
                  Имя Фамилия
                </label>
                <input
                    id="profile-fullName"
                    placeholder="Иван Иванов"
                    class="profile__form-input"
                    type="text"
                />
              </div>
              <div class="profile__form-field">
                <label class="profile__form-label">
                  E-mail
                </label>
                <input
                    id="profile-email"
                    placeholder="example@gmail.ru"
                    class="profile__form-input"
                    type="text"
                />
              </div>
              <div class="profile__form-field">
                <label class="profile__form-label">
                  Пароль
                </label>
                <input
                    id="profile-password"
                    placeholder="****************g"
                    class="profile__form-input"
                    type="password"
                />
              </div>
            </div>
            <div class="profile__payment">
              <h5 class="profile__subtitle">
                Платежные данные
              </h5>
              <div class="profile__form-field">
                <label class="profile__form-label">
                  Номер карты
                </label>
                <input
                    id="profile-card-number"
                    placeholder="**** **** **** 1234"
                    class="profile__form-input"
                    type="text"
                />
              </div>
              <div class="profile__form-double-field">
                <div class="profile__form-field">
                  <label class="profile__form-label">
                    Дата
                  </label>
                  <input
                      id="profile-card-expiration"
                      placeholder="**/**"
                      class="profile__form-input"
                      type="text"
                  />
                </div>
                <div class="profile__form-field">
                  <label class="profile__form-label">
                    CVC
                  </label>
                  <input
                      id="profile-card-cvc"
                      placeholder="***"
                      class="profile__form-input"
                      type="password"
                  />
                </div>
              </div>
            </div>
            <button class="profile__form-edit-button" type="button" onclick="proveEditing()">
              Редактировать
            </button>
          </form>
        </div>
      </div>
    </section>


    <section class="parking">
      <div class="wrapper">
        <div class="parking__content">
          <div class="parking__tabs">
            <button class="parking__tabs-button active" onclick="setActiveProfileTab()">
              Водитель
            </button>
            <button class="parking__tabs-button" onclick="setActiveProfileTab()">
              Владелец
            </button>


          </div>
          <div id="driver-tab" class="parking__tab active">
            <h6 class="parking__tab-title">
              Текущая парковка
            </h6>
            <div class="parking__tab-cards">
              <a href="" class="parking__cards-item">
                <img src="../../../moscow-parking/static/images/catalog-card.jpg"
                     alt=""
                     class="parking__cards-cover"
                />
                <div class="parking__cards-description">
                  <h5 class="parking__cards-address">
                    Мне-Нужна-Длинная-Улица 48, к. 1
                  </h5>
                  <h6 class="parking__cards-station">Китай-Город</h6>
                  <p class="parking__cards-price">550 руб./час</p>
                  <h5 class="parking__cards-status">Занято с 19.00, 28 дек</h5>
                </div>
              </a>
            </div>
            <h6 class="parking__tab-title">
              История
            </h6>
            <div class="parking__tab-history">
              <div class="parking__history-item">
                <span class="parking__history-date">27 дек. 18.23 - 19.54</span>
                <span class="parking__history-amount">300 руб.</span>
              </div>
            </div>
          </div>

          <div id="owner-tab" class="parking__tab">
            <h6 class="parking__tab-title">
              Ваша парковка
            </h6>
            <div class="parking__tab-cards">
              <a href="" class="parking__cards-item">
                <img src="static/images/catalog-card.jpg"
                     alt=""
                     class="parking__cards-cover"
                />
                <div class="parking__cards-description">
                  <h5 class="parking__cards-address">
                    Мне-Нужна-Длинная-Улица 48, к. 1
                  </h5>
                  <h6 class="parking__cards-station">Китай-Город</h6>
                  <p class="parking__cards-price">550 руб./час</p>
                  <h5 class="parking__cards-status">Занято с 19.00, 28 дек</h5>
                </div>
              </a>
            </div>
            <a href="parking-place-create.html" class="parking__tab-link">
              Добавить место
            </a>
            <h6 class="parking__tab-title">
              История
            </h6>
            <div class="parking__tab-history">
              <div class="parking__history-item">
                <span class="parking__history-date">27 дек. 18.23 - 19.54</span>
                <span class="parking__history-amount">300 руб.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</main>

<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <div class="footer__top">
        <h5 class="footer__title">Парковки Москвы</h5>
        <h6 class="footer__subtitle">
          Сервис для краткосрочной аренды машиномест в Москве
        </h6>
      </div>
      <div class="footer__links">
        <a href="" class="footer__links-item">Условия использования</a>
        <a href="" class="footer__links-item">Договор оферты</a>
        <a href="" class="footer__links-item">Служба поддержки</a>
      </div>
    </div>
  </div>
</footer>
<script src="../../../moscow-parking/static/plugins/noUiSlider-15.7.0/dist/nouislider.js"></script>
<script src="../../../moscow-parking/static/js/homeButtonScript.js"></script>
<script src="../../../moscow-parking/static/js/index.js"></script>
<script src="../../../moscow-parking/static/js/user.js"></script>
<script src="../../../moscow-parking/static/js/profile.js"></script>
</body>
</html>
