{% extends 'index.html' %} <!-- наследуемся от шаблона index.html -->

{% block title %} Страница машино-места {% endblock title %}

{% block content %}

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ parking_detail.image.url }}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ parking_detail.title }}</p>
                <p class="subtitle is-6">
                    Метро {{ parking_detail.get_subway_station_display }}
                    Владелец: {{ parking_detail.owner }}  {{ parking_detail.owner.phoneNumber }}</p>
            </div>
            <div class="media-right">
                <p class="title is-4">{{ parking_detail.pricePerHour }} руб./час</p>
                <p class="subtitle is-6">{{ parking_detail.get_readyToRent_display }}</p>
            </div>
        </div>
        <div class="content">{{ parking_detail.description }}</div>

        {% if parking_detail.readyToRent == 'ON' %}

        <div class="buttons is-right">
            <form method="POST" >{% csrf_token %} {{ form }}
                <button type="submit" class="button is-link">
                    <span class="icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <a href="#">
                        <p class="has-text-white">Арендовать</p>
                    </a>
                </button>
            </form>
        </div>

        {% else %}

        <div class="buttons is-right">
            <form method="POST" >{% csrf_token %} {{ form }}
                <button type="submit" class="button is-danger" disabled>
                    <span class="icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <a href="#">
                        <p class="has-text-white">Аренда недоступна</p>
                    </a>
                </button>
            </form>
        </div>

        {% endif %}

    </div>
</div>


{% endblock content %}


