{% extends 'index.html' %}

{% block title %} Удаление карты из профилю {% endblock title %}

{% block content %}
<!-- Аннотация страницы-->
<main class="main">
  <div class="wrapper">
    <form class="delete-card__form" method="POST">
      {% csrf_token %}
      <h1 class="delete-card__title">Удаление банковской карты карты</h1>
      <h4 class="delete-card__subtitle">Карта будет <b>безвозвратно</b> удалена.</h4>
      {{ form.media }} <!-- Теперь нам нужна только готовая форма и кнопка -->
      {{ form.as_table }}
      <button type="submit" class="delete-card__form-button">Удалить банковскую карту</button>
    </form>
  </div>
</main>

{% endblock content %}