<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=""/>
  <meta name="author" content="Konstantin Volik"/>
  <title>Парковки Москвы</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.svg' %}">
</head>
<body>
<div id="registration-modal" class="modal__body">
  <div class="modal__header">
    <h2 class="modal__title">Вход</h2>
  </div>
  <form method="POST" class="modal__main">


    {{ form.non_field_errors }}

    {{ form.source.errors }}
    {{ form.source }}

    {% load widget_tweaks %}

    <table>

      <div class="modal__field">
        <label class="modal__label">
          Введите логин
        </label>
        {% render_field form.username class="modal__input" placeholder="username" type="text" %}
        {{ form.username.errors }}
      </div>

      <div class="modal__field">
        <label class="modal__label">
          Введите пароль
        </label>
        <div class="modal__input-container">
          {% render_field form.password class="modal__input" placeholder="****" type="password" %}
          <button class="modal__hide-password hidden" type="button" onclick="togglePassword()">
          </button>
        </div>
        {{ form.password.errors }}
      </div>


<button class="modal__submit" type="submit">
  Продолжить
</button>
<a class="modal__toggle" href="{% url 'account_signup' %}">
    Нет аккаунта? Зарегистрироваться
</a>
<!--<a href="" class="modal__toggle">-->
<!--  Забыли пароль? Восстановить пароль-->
<!--</a>-->
</table>

</form>
</div>
</body>

<script src="{% static 'js/user.js' %}"></script>
</html>